.board {
  display: flex;
  justify-content: center;
}

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table td {
	border: 1px solid grey;
	width: 100px;
	height: 100px;
  text-align: center;
}

td:hover {
  background: purple;
  cursor: pointer;
}
